# macOS
.DS_Store
*.swp
*~

# Xcode
xcuserdata/
DerivedData/
*.xcscmblueprint
*.xccheckout

# Build output
/build
/.build
/Packages
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Credentials
.netrc
